<div>
    <button id="crudBtn"><h6>read about CRUD</h6></button>
    <h1 id="crudTitle">CRUD is an acronym that comes from the world of computer programming and refers to the four functions that are considered necessary to implement a persistent storage application: <br>
        create, read, update and delete. Persistent storage refers to any data storage device that retains power after the device is powered off, such as a hard disk or a solid-state drive. In contrast, random access memory and internal caching are two examples of volatile memory - they contain data that will be erased when they lose power.</h1> 
        <h1>....    </h1>
        <h1>you chose {{method}}</h1>
        <img id="featureImg" src={{src}}>
        <table id="sortTable"> 
            <tr>
                <td>name</td>
                <td>ID</td>
                <td>last update</td>
            </tr> 
                {{#each toDoList}}
            <tr>
            <td>{{this.name}}</td>
            <td>{{this.id}} </td>
            <td> {{this.date}}</td>
            </tr>
            {{/each}}
            </table >
</div>